{
    "project_id": "ID",
    "source_image_family": "ubuntu-1604-lts",
    "image_description":"Description"
    "disk_type":"pd-standard"
    "machine_type": "f1-micro",
    "image_family": "ID-base",
    "zone": "europe-west1-b",
    "tags":"reddit-app"
}
